body {
    background: linear-gradient(117.06deg, #4EC8FC 2.2%, rgba(144, 78, 252, 0.67) 88.15%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Poppins;
}

a {
    text-decoration: none;
}

.finalpage {
    position: absolute;
    left: 130px;
    top: 60px;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 30px;
    width: 1350px;
    height: 670px;
}

.img {
    position: absolute;
    width: 715px;
    height: 600px;
    left: 47px;
    top: 46px;
    border-radius: 30px;
}

input {
    background: #EAF4FF;
    border-radius: 6.99346px;
    width: 360px;
    height: 40px;
    border: none;
}

/* .formcss{
    float: right;
    padding: 10px 100px 0px 700px;
} */

form {
    padding-left: 886px;
    padding-top: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 220%;
}

.button {
    width: 140px;
    height: 40px;
    border: none;
    position: absolute;
    top: 400px;
    left: 1000px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    background: #0075FF;
    border-radius: 6.99346px;
    color: #FFFFFF;
}

.caption {
    position: absolute;
    left: 76.17%;
    right: 9.22%;
    top: 0.5%;
    bottom: 92.77%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}

.connect-line-code {
    position: absolute;
    left: 76.18%;
    right: 16.26%;
    top: 67.5%;
    bottom: 26.95%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 540;
    font-size: 15px;
    line-height: 21px;
    color: rgba(82, 82, 82, 0.8);
}

.hr-class-1 {
    position: absolute;
    left: 61.48%;
    right: 25.72%;
    top: 70%;
    bottom: 30%;
    border: 0.699346px solid rgba(82, 82, 82, 0.5);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.hr-class-2 {
    position: absolute;
    left: 86.08%;
    right: 1.12%;
    top: 70%;
    bottom: 230%;
    border: 0.699346px solid rgba(82, 82, 82, 0.5);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.windows-1 {
    width: 13.33px;
    height: 13.33px;
    position: absolute;
    left: 70%;
    right: 20.83%;
    top: 80%;
    bottom: 20.83%;
    background: #FF5722;
    transform: rotate(-180deg);
}

.windows-2 {
    width: 13.33px;
    height: 13.33px;
    position: absolute;
    left: 71.3%;
    right: -20.83%;
    top: 80%;
    bottom: 20.83%;
    background: #4CAF50;
    transform: rotate(-180deg);
}

.windows-3 {
    width: 13.33px;
    height: 13.33px;
    position: absolute;
    left: 70%;
    right: 20.83%;
    top: 82.64%;
    bottom: -20.83%;
    background: #03A9F4;
    transform: rotate(-180deg);
}

.windows-4 {
    width: 13.33px;
    height: 13.33px;
    position: absolute;
    left: 71.3%;
    right: -20.83%;
    top: 82.64%;
    bottom: -20.83%;
    background: #FFC107;
    transform: rotate(-180deg);
}

.facebook-icon {
    position: absolute;
    left: 74.5%;
    right: 22.4%;
    top: 79%;
    bottom: 17.43%;
    width: 47px;
    height: 46px;
}

.google-icon {
    position: absolute;
    left: 80.5%;
    right: 18.13%;
    top: 78.88%;
    bottom: 17.42%;
}

.linkdn-icon {
    position: absolute;
    left: 86.5%;
    right: 14.17%;
    top: 78.7%;
    bottom: 18.45%;
    width: 47px;
    height: 47.5px;
}

.already-accnt {
    position: absolute;
    left: 64.85%;
    right: 1.12%;
    top: 90%;
    bottom: 5.6%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17.4837px;
    line-height: 20px;
    color: #000000;
}

.eye-css-1 {
    position: absolute;
    left: 88.5%;
    right: 6.63%;
    top: 39.5%;
    bottom: 56.79%;
    width: 30px;
    height: 18px;
}

.eye-css-2 {
    position: absolute;
    left: 88.5%;
    right: 6.63%;
    top: 50.5%;
    bottom: 56.79%;
    border: none;
    width: 30px;
    height: 18px;
}
.login-css {
    display: none;
}
.signup-css {
    display: none;
}

/* Responsive section */

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    body {
        width: 100%;
    }
    .img {
        display: none;
    }
    .finalpage {
        position: absolute;
        left: 30px;
        top: 60px;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 30px;
        width: 400px;
        height: 580px;
    }
    form {
        padding-left: 50px;
        padding-top: 70px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 220%;
    }
    input {
        width: 90%;
    }
    .button {
        top: 400px;
        left: 140px;
    }
    .windows-1 {
        left: 20%;
        right: 20.83%;
        top: 85.2%;
        bottom: 20.83%;
        background: #FF5722;
        transform: rotate(-180deg);
    }
    .windows-2 {
        left: 24.3%;
        right: -20.83%;
        top: 85.2%;
        bottom: 20.83%;
        background: #4CAF50;
        transform: rotate(-180deg);
    }
    .windows-3 {
        left: 20%;
        right: 20.83%;
        top: 88%;
        bottom: -20.83%;
        background: #03A9F4;
        transform: rotate(-180deg);
    }
    .windows-4 {
        left: 24.3%;
        right: -20.83%;
        top: 88%;
        bottom: -20.83%;
        background: #FFC107;
        transform: rotate(-180deg);
    }
    .facebook-icon {
        left: 35%;
        right: 22.4%;
        top: 84.5%;
        bottom: 17.43%;
        border: none;
        width: 10%;
        height: 7%;
    }
    .google-icon {
        left: 53%;
        right: 18.13%;
        top: 84.5%;
        bottom: 17.42%;
        width: 10%;
        height: 7%;
    }
    .linkdn-icon {
        left: 70%;
        right: 14.17%;
        top: 84.5%;
        bottom: 18.45%;
        width: 10%;
        height: 7%;
    }
    .caption {
        left: 41%;
    }
    .already-accnt {
        display: none;
    }
    .connect-line-code {
        position: absolute;
        left: 40%;
        right: 16.26%;
        top: 76%;
        bottom: 26.95%;
        font-family: Poppins;
        font-style: normal;
        font-weight: 540;
        font-size: 15px;
        line-height: 21px;
        color: rgba(82, 82, 82, 0.8);
    }
    .hr-class-1 {
        position: absolute;
        left: -33%;
        right: 25.72%;
        top: 79%;
        bottom: 30%;
        border: 0.699346px solid rgba(82, 82, 82, 0.5);
        transform: matrix(1, 0, 0, 1, 0, 0);
        width: 120px;
    }
    .hr-class-2 {
        position: absolute;
        left: 70%;
        right: 1.12%;
        top: 79%;
        bottom: 230%;
        border: 0.699346px solid rgba(82, 82, 82, 0.5);
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    .eye-css-1 {
        position: absolute;
        left: 78%;
        right: 6.63%;
        top: 45.5%;
        bottom: 56.79%;
        width: 30px;
        height: 18px;
    }
    .eye-css-2 {
        position: absolute;
        left: 78%;
        right: 6.63%;
        top: 58.5%;
        bottom: 56.79%;
        border: none;
        width: 30px;
        height: 18px;
    }
    .signup-css {
        display: none;
        position: relative;
        top: 163px;
        left: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
    .login-css {
        display: block;
        position: relative;
        top: 163px;
        left: 90px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
}

@media only screen and (min-width: 1501px) {
    body {
        width: 100%;
    }
    .login-css {
        display: none;
    }
    .signup-css {
        display: none;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1500px) {
    .finalpage {
        width: 1040px;
        position: relative;
        left: 1px;
    }
    input {
        width: 100%;
    }
    .login-css {
        display: none;
    }
    .signup-css {
        display: none;
    }
    form {
        position: relative;
        right: 200px;
        width: 32%;
    }
    .eye-css-1 {
        position: absolute;
        left: 955px;
    }
    .eye-css-2 {
        position: absolute;
        left: 955px;
    }
    .img img {
        width: 80%;
    }
    .connect-line-code {
        position: absolute;
        left: 777px;
    }
    .hr-class-1 {
        position: absolute;
        left: 635px;
        width: 10%;
    }
    .hr-class-2 {
        position: absolute;
        left: 900px;
        width: 10%;
    }
    .already-accnt {
        position: absolute;
        left: 650px;
    }
    .windows-1 {
        position: absolute;
        left: 745px;
    }
    .windows-3 {
        position: absolute;
        left: 745px;
    }
    .login-css {
        display: none;
    }
    .signup-css {
        display: none;
    }
    .button {
        position: absolute;
        left: 950px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    .finalpage {
        width: 100%;
        position: relative;
        left: 1px;
    }
    .img {
        width: 100%;
    }
    input {
        width: 100%;
    }
    .login-css {
        display: none;
    }
    .signup-css {
        display: none;
    }
    form {
        position: relative;
        right: 440px;
        width: 36%;
    }
    .eye-css-1 {
        position: absolute;
        left: 660px;
    }
    .eye-css-2 {
        position: absolute;
        left: 660px;
    }
    .img img {
        width: 50%;
        display: block;
    }
    .connect-line-code {
        position: absolute;
        left: 532px;
    }
    .hr-class-1 {
        position: absolute;
        left: 400px;
        width: 10%;
    }
    .hr-class-2 {
        position: absolute;
        left: 620px;
        width: 10%;
    }
    .already-accnt {
        position: absolute;
        left: 440px;
        font-size: 14.5px;
    }
    .caption {
        position: absolute;
        left: 550px;
        font-weight: 600;
        font-size: 23px;
    }
    .windows-1 {
        position: absolute;
        left: 517.7px;
        width: 1.5%;
        height: 1.5%;
    }
    .windows-3 {
        position: absolute;
        left: 517.7px;
        width: 1.5%;
        height: 1.5%;
        top: 550px;
    }
    .windows-2 {
        position: absolute;
        left: 532px;
        width: 1.5%;
        height: 1.5%;
    }
    .windows-4 {
        position: absolute;
        left: 532px;
        width: 1.5%;
        height: 1.5%;
        top: 550px;
    }
    .signup-css {
        display: none;
    }
    .button {
        position: absolute;
        left: 965px;
    }
    .facebook-icon {
        width: 4%;
        height: 5%;
    }
    .google-icon {
        width: 4%;
        height: 5%;
    }
    .linkdn-icon {
        width: 4%;
        height: 5%;
    }
}